body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 99.5vh;
}

img {
    height: 9em;
}

h2 {
    font-size: x-large;
}

.divInput{
    border: 0.175em solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#divCheckBox {
    font-size:medium;
    color: #ffaa33;
}

.form-floating input {
    border-radius: 0.25em;
    border: 0.1em solid #ccc;
    padding: 0.5em 1em;
    text-align: center;
}

.form-floating input:focus {
    outline: none;
    text-align: center;
}

.form-floating{
    margin-top: 0.3em;
}

input::placeholder {
    text-align: center;
    font-size: medium;
    color: black;
  }

.checkBtn {
    margin-top: 0.5em;
    color: #ff9500;
}

button{
    border-radius: 0.25em;
    padding: 1em 3em;
    background-color: #ffa72c;
    font-weight: bold;
    margin-bottom: 2em;
    margin-top: 1em;
    margin-left: 5em;
}